#frame {
  width: 390px;
  height: 844px;
  background-color: white;
  margin: 50px auto;
  position: relative;
  justify-content: center;
  align-items: center;
}
body {
  font-family: "Pretendard", sans-serif;
}

/* nav_heaer */
.nav_header > .logo {
  left: 7.44%;
  right: 81.79%;
  top: 1.3%;
  bottom: 93.13%;
  position: absolute;
}
.nav_header > .logo img {
  width: 73px;
  height: 68px;
  object-fit: contain;
}
.nav_header > .cart {
  position: absolute;
  left: 71.54%;
  right: 19.49%;
  top: 2.49%;
  bottom: 93.36%;
}
/* 로그인 */
.nav_header > .login {
  position: absolute;
  left: 83.33%;
  top: 3.55%;
  font-size: 16px;
  font-weight: 700;
  color: #454444;
}
.nav_header > .signup {
  position: absolute;
  left: 83.33%;
  top: 6.4%;
  font-size: 16px;
  font-weight: 700;
  color: #454444;
}

.nav_header > .logout {
  position: absolute;
  left: 67%;
  top: 6.4%;
  font-size: 16px;
  font-weight: 700;
  color: #454444;
}

.nav_header > .mypage {
  position: absolute;
  left: 83.33%;
  top: 3.55%;
  font-size: 16px;
  font-weight: 700;
  color: #454444;
}

.nav_header > .login a,
.logout a,
.signup a,
.mypage a {
  text-decoration: none;
}

/* 타이틀-함께 배송해요 */
.title {
  position: absolute;
  width: 200px;
  height: 50px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
  background-color: rgba(0, 141, 63, 1);
  color: white;
  text-align: center;
  align-items: center;
  top: 13%;
  left: 50%;
  transform: translate(-50%, 0%);
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

/* 뒤로가기 */
.back {
  position: absolute;
  top: 90px;
  left: 30px;
}
.search_city {
  position: absolute;
  top: 23%;
  left: 80px;
}
.search_city span {
  padding: 0 10px;
}
.search_city select {
  width: 130px;
  height: 25px;
  border-color: rgba(0, 141, 63, 1);
  border-radius: 10px;
}

.search_detail {
  position: absolute;
  top: 28%;
  left: 80px;
}
.search_detail span {
  padding: 0 10px;
}
.search_detail input[type="text"] {
  width: 130px;
  height: 20px;
  border-color: rgba(0, 141, 63, 1);
  border-radius: 10px;
}

.url {
  position: absolute;
  top: 33%;
  left: 75px;
}
.url input[type="url"] {
  width: 200px;
  height: 20px;
  border-color: rgba(0, 141, 63, 1);
  border-radius: 10px;
}
.form_title {
  position: absolute;
  top: 38%;
  left: 67px;
}
.form_title input[type="text"] {
  width: 200px;
  height: 20px;
  border-color: rgba(0, 141, 63, 1);
  border-radius: 10px;
}

.form_text {
  position: absolute;
  top: 43%;
  left: 46px;
}
.form_text textarea {
  width: 300px;
  height: 300px;
  border-color: rgba(0, 141, 63, 1);
  border-radius: 10px;
}

.submit {
  width: 157px;
  height: 57px;
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translate(-50%, 0%);
}
.submit input[type="submit"] {
  width: 150px;
  height: 50px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
  background-color: rgba(0, 141, 63, 1);
  color: white;
  border: none;
}
/* nav_bottom */
.nav_bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  position: absolute;
  bottom: 0px;
  width: 390px;
  height: 80px;
  background: rgba(244, 244, 244, 1);
}
.nav_bottom > .logo {
  display: flex;
}
