* {
    padding: 3px;
    font-family: "Pretendard", sans-serif;
    width: 390px;
    height: 844px;
    background-color: white;
    margin: 50px auto;
    position: relative;
    justify-content: center;
    align-items: center;
}
.graybox {
    display: block;
    border-radius: 10px;
    background-color: rgba(217, 217, 217, 0.66);
    width: 300px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    border: none;
    margin-top: 5px;
}
.customer_list {
    margin-top: 50px;
}
.customer_list b {
    margin-left: 15px;
}
a:link,
:visited {
    color: black;
    text-decoration: none;
}
.kakao {
    border-radius: 10px;
    background-color: rgba(255, 202, 13, 1);
    width: 300px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    border: none;
    margin-top: 30px;
    text-align: center;
}
.button {
    width: 300px;
    height: 40px;
    line-height: 40px;
    background-color: rgba(0, 141, 63, 1);
    border-radius: 10px;
    color: white;
    display: block;
    margin: 0 auto;
    border: none;
    font-weight: bold;
    font-size: 13pt;
}
label {
    font-weight: bold;
    margin-left: 12px;
}
