#frame {
    width: 390px;
    height: 844px;
    background-color: white;
    margin: 50px auto;
    position: relative;
    justify-content: center;
    align-items: center;
}

/*내 등록 상품*/
.title {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "one" "two" "three";
    margin: 5%;
}
.bincan {
    grid-area: "one";
}
.cancled {
    grid-area: "three";
    display: flex;
    justify-content: right;
}
#btn_delete {
    border-style: none;
    font-size: 180%;
    background-color: transparent;
}
.title_text {
    grid-area: "two";
    display: flex;
    justify-content: center;
    font-size: 140%;
    font-weight: 950;
}
#delete_img {
    width: 130%;
}
/*제품*/
.main_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10%;
}
.pic {
    margin-right: 3%;
}
.thing_cost {
    margin: 2%;
    display: flex;
    flex-direction: row;
    margin-top: 10%;
}
.thing_title {
    font-weight: 1000;
    font-size: 120%;
}
.discount {
    font-size: 110%;
    font-weight: 900;
    color: #008d3f;
    margin-right: 3%;
}
.cost {
    font-size: 100%;
    font-weight: 900;
}
.buttons {
    margin: 2%;
    display: flex;
    flex-direction: row;
    margin-top: 10%;
}
.edit_btn {
    margin-right: 15%;
}
#edit {
    border-style: none;
    background-color: #008d3f;
    border-radius: 10px;
    color: white;
    font-size: 100%;
    font-weight: 900;
    width: 150%;
    height: 40px;
}
#delete {
    border-style: none;
    background-color: #008d3f;
    border-radius: 10px;
    color: white;
    font-size: 100%;
    font-weight: 900;
    width: 150%;
    height: 40px;
}
/*이미지*/
#register_img {
    width: 100%;
    height: 100%;
}
/*없을 때*/
.empty {
    font-size: 150%;
    font-weight: 900;
    color: #008d3f;
    margin-top: 30%;
    display: flex;
    justify-content: center;
}
a {
    text-decoration: none;
    color: black;
}
/*이미지*/
img {
    width: 150px;
    height: 150px;
}
.thing_info {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.main_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.group {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    margin-bottom: 3%;
}
