/* 뒤로가기 */
.back {
  display: flex;
  width: max-content;
  align-items: center;
  position: absolute;
  left: 1.54%;
  right: 90.77%;
  top: 13.63%;
  font-size: 16px;
  font-weight: 600;
  color: #646464;
}

/* 사진업로드 */
.file_upload {
  position: absolute;
  left: 73%;
  top: 47%;
}
.file_upload label {
  background: #d9d9d9;
  border-radius: 10px;
  height: 40px;
  width: 100px;
  text-align: center;
}
.file_upload input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

#img_contain {
  width: 345px;
  height: 222px;
  box-sizing: border-box;
  position: relative;
  left: 5.9%;
  top: 19%;
  background: #ffffff;
  border: 2px solid #008d3f;
  border-radius: 10px;
  overflow: hidden; /* 이미지가 요소를 넘어가지 않도록 함 */
}

#img_contain img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* 상세내용입력 폼*/

/* 종류선택 */
.select {
  position: absolute;
  top: 51%;
  left: 9%;
  width: 345px;
  height: 50px;
}
.select input[type="radio"] {
  display: none;
  position: absolute;
  left: 30%;
  top: 6%;
}
.select input[type="radio"] + label {
  display: inline-block;
  width: 103px;
  height: 35px;
  background: rgba(217, 217, 217, 0.55);
  border-radius: 10px;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  color: rgba(69, 68, 68, 1);
}

.select input[type="radio"]:hover + label {
  background-color: rgba(255, 202, 13, 1);
  font-weight: 600;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.select input[type="radio"]:checked + label {
  background-color: rgba(255, 202, 13, 1);
  font-weight: 600;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.select div {
  display: inline-block;
  width: 90px;
}

/* 상품이름 ~ 재배특징 */
#detail {
  position: absolute;
  top: 54%;
  left: 6%;
  height: max-content;
}

.name,
.price,
.discount,
.count,
.place,
.ch {
  width: 315px;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2px 10px;
}
.price input[type="number"] + span {
  position: absolute;
}
/* 상품이름,판매수량,재배특징 */
.name span,
.count span,
.ch span,
.price span,
.discount span {
  position: absolute;
  align-items: center;
}
.name input,
.count input,
.ch input,
.place input,
.price input,
.discount input {
  position: absolute;
  right: 20px;
}

/* 생산지 */
.place span {
  position: absolute;
}

#product_name,
#product_count,
#product_place,
#product_ch,
#price2,
#price3 {
  background: rgba(217, 217, 217, 0.55);
  border-radius: 10px;
  border: none;
  height: 30px;
  width: 200px;
}

/* 상품등록하기 */
input[type="submit"] {
  width: 197px;
  height: 45px;
  background: #008d3f;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 20px;
}

.suBmit {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 252px;
  left: -50%;
  right: -50%;
}
