<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link
            rel="stylesheet"
            href="{% static 'css/low_income_signup.css' %}"
        />
        <link rel="stylesheet" href="{% static '/css/font.css'%}" />
    </head>
    <body>
        <div style="display: flex; justify-content: space-between">
            <span style="margin-left: 100px">저소득층으로 회원가입</span>
            <span>X</span
            ><!--뒤로가기-->
        </div>
        <div style="display: flex; justify-content: center; margin-top: 50px">
            <img
                src="{% static '/img/logo/4989_logo_L.png' %}"
                style="width: 180px; height: 182px"
            />
        </div>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <section class="poor_list">
                <label for="{{ form.username.id_for_label }}">이름 :</label>
                <div class="graybox">{{ form.username }}</div>
                {% if form.username.errors %}
                <p class="error">{{ form.username.errors.as_text }}</p>
                {% endif %}
                <br />
                <label for="{{ form.password1.id_for_label }}"
                    >비밀번호 :</label
                >
                <div class="graybox">{{ form.password1 }}</div>
                {% if form.password1.errors %}
                <p class="error">{{ form.password1.errors.as_text }}</p>
                {% endif %}
                <br />
                <label for="{{ form.password2.id_for_label }}"
                    >비밀번호 확인 :</label
                >
                <div class="graybox">{{ form.password2 }}</div>
                {% if form.password2.errors %}
                <p class="error">{{ form.password2.errors.as_text }}</p>
                {% endif %}
                <br />
                <label>사진 업로드 :</label><br /><input
                    name="image"
                    multiple="multiple"
                    type="file"
                    name="imgs"
                    style="margin-left: 30px"
                /><br />
                <div style="margin-top: 20px">
                    <label>관심 상품 :</label><br />
                    <select name="interest" style="width: 336px; height: 56px">
                        <option value="fruit">과일</option>
                        <option value="vege">채소</option>
                        <option value="etc">기타</option>
                    </select>
                </div>
            </section>
            <br /><br />
            <button type="submit" class="button">회원가입</button>
        </form>
        <br /><br />
    </body>
</html>
