<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link
            rel="stylesheet"
            href="{% static 'css/restaurant_signup.css' %}"
        />
        <link rel="stylesheet" href="{% static '/css/font.css'%}" />
    </head>
    <body>
        <div style="display: flex; justify-content: space-between">
            <span style="margin-left: 100px">음식점으로 회원가입</span>
            <a href="{% url 'accounts:signup' %}"
                ><span>X</span
                ><!--뒤로가기--></a
            >
        </div>
        <div style="display: flex; justify-content: center; margin-top: 50px">
            <img
                src="{% static '/img/logo/4989_logo_L.png' %}"
                style="width: 180px; height: 182px"
            />
        </div>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <section class="restaurant_list">
                <label for="{{ form.username.id_for_label }}">이름 :</label>
                <div class="graybox">{{ form.username }}</div>
                {% if form.username.errors %}
                <p class="error">{{ form.username.errors.as_text }}</p>
                {% endif %}
                <br />
                <label for="{{ form.password1.id_for_label }}"
                    >비밀번호 :</label
                >
                <div class="graybox">{{ form.password1 }}</div>
                {% if form.password1.errors %}
                <p class="error">{{ form.password1.errors.as_text }}</p>
                {% endif %}
                <br />
                <label for="{{ form.password2.id_for_label }}"
                    >비밀번호 확인 :</label
                >
                <div class="graybox">{{ form.password2 }}</div>
                {% if form.password2.errors %}
                <p class="error">{{ form.password2.errors.as_text }}</p>
                {% endif %}
                <br />
                <label for="{{ form.name.id_for_label }}">음식점 이름 :</label>
                <div class="graybox">{{ form.name }}</div>
                {% if form.name.errors %}
                <p class="error">{{ form.name.errors.as_text }}</p>
                {% endif %}
                <br />
                <label for="{{ form.description.id_for_label }}"
                    >식당 소개 :</label
                >
                <div class="graybox">{{ form.description }}</div>
                {% if form.description.errors %}
                <p class="error">{{ form.description.errors.as_text }}</p>
                {% endif %}
                <br />

                <label for="{{ form.address.id_for_label }}">식당 주소:</label>
                <div class="graybox">{{ form.address }}</div>
                {% if form.address.errors %}
                <p class="error">{{ form.address.errors.as_text }}</p>
                {% endif %}
                <br />
                <label>사진 업로드 :</label><br />
                <input
                    multiple="multiple"
                    type="file"
                    name="imgs"
                    style="margin-left: 30px"
                /><br />
                <input
                    multiple="multiple"
                    type="file"
                    name="imgs"
                    style="margin-left: 30px"
                /><br />
                <input
                    multiple="multiple"
                    type="file"
                    name="imgs"
                    style="margin-left: 30px"
                /><br />
                <input
                    multiple="multiple"
                    type="file"
                    name="imgs"
                    style="margin-left: 30px"
                />
            </section>
            <br />
            <br />
            <button type="submit" class="button">회원가입</button>
        </form>
        <br /><br />
    </body>
</html>
