<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="{{ form.username.id_for_label }}">이름(아이디) :</label>
        {{ form.username }}
        {% if form.username.errors %}
            <p class="error">{{ form.username.errors.as_text }}</p>
        {% endif %}
        <br>
        <label for="{{ form.password1.id_for_label }}">비밀번호:</label>
        {{ form.password1 }}
        {% if form.password1.errors %}
            <p class="error">{{ form.password1.errors.as_text }}</p>
        {% endif %}
        <br>
        <label for="{{ form.password2.id_for_label }}">비밀번호 확인:</label>
        {{ form.password2 }}
        {% if form.password2.errors %}
            <p class="error">{{ form.password2.errors.as_text }}</p>
        {% endif %}
        <br>
        <label for="{{ form.name.id_for_label }}">음식점 이름:</label>
        {{ form.name }}
        {% if form.name.errors %}
            <p class="error">{{ form.name.errors.as_text }}</p>
        {% endif %}
        <br>
        <label for="{{ form.description.id_for_label }}">식당 소개:</label>
        {{ form.description }}
        {% if form.description.errors %}
            <p class="error">{{ form.description.errors.as_text }}</p>
        {% endif %}
        <br>
        <br>
        <label for="{{ form.address.id_for_label }}">식당 주소:</label>
        {{ form.address }}
        {% if form.address.errors %}
            <p class="error">{{ form.address.errors.as_text }}</p>
        {% endif %}
        <br>
        사진 업로드-<input multiple="multiple" type="file" name="imgs"><br>
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>