{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static '/css/creat_shooping.css' %}" />
    <link rel="stylesheet" href="{% static '/css/font.css'%}" />
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="frame">
      <!-- 상단 나브바 -->
      <nav class="nav_header">
        <div class="logo">
          <a href=""><img src="{% static '/img/logo/4989_logo_L.png' %}" /></a>
        </div>
        <div class="cart">
          <a href="{% url 'basket' %}">
            <iconify-icon
              icon="mingcute:basket-line"
              style="color: #008d3f"
              width="35"
              height="35"
            ></iconify-icon
          ></a>
        </div>

        {% if not request.user.is_authenticated %}
        <div class="login"><a href="{% url 'accounts:login' %}">로그인</a></div>
        {% else %}
        <div class="mypage">
          <a href="{% url 'mypage' %}">{{request.user.username}}</a>
        </div>
        {% endif %}
      </nav>
      <div class="title">글 작성하기</div>

      <!-- 뒤로가기 -->
      <div class="back">
        <a href="{% url 'community:main' %}">
          <iconify-icon
            icon="ion:caret-back-outline"
            style="color: #646464"
            width="30"
            height="30"
          ></iconify-icon>
        </a>
      </div>
      <form action="" method="POST">
        {% csrf_token %}
        <div class="search_city">
          <span>지역선택</span>
          <select name="where">
            {% for p in places %}
            <option value="{{p}}">{{p}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="search_detail">
          자세한 위치 <input type="text" name="detail" />
        </div>
        <div class="url">
          <span> url </span>
          <input type="url" name="url" />
        </div>
        <div class="form_title">
          <span>제목</span>
          <input type="text" name="title" /> <br />
        </div>
        <div class="form_text">
          <textarea name="context"></textarea>
        </div>

        <div class="submit">
          <input type="submit" value="글 등록하기" />
        </div>
      </form>

      <!-- 하단 나브바 -->

      <nav class="nav_bottom">
        <div class="logo">
          <a href="{% url 'recommend_promotion:rp' %}">
            <iconify-icon
              icon="mdi:corn"
              style="color: #008d3f"
              width="45"
              height="43"
            ></iconify-icon
          ></a>
        </div>

        <div class="home">
          <a href="{% url 'index' %}">
            <iconify-icon
              icon="octicon:home-24"
              style="color: #008d3f"
              width="38"
              height="38"
            ></iconify-icon
          ></a>
        </div>
        <div class="community">
          <a href="{% url 'community:main' %}">
            <iconify-icon
              icon="clarity:talk-bubbles-line"
              style="color: #008d3f"
              width="38"
              height="38"
            ></iconify-icon
          ></a>
        </div>
      </nav>
    </div>
  </body>
</html>
