{% load custom_filters %} {% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static '/css/basket.css' %}" />
        <title>Document</title>
    </head>
    <body>
        <div id="frame">
        <div id="cart-container">
            <!--결제하기 화면과 연결 -->{% csrf_token %} {% for p in products %}
            <form id="cart-form" action="/kakaoPayLogic/" method="post">
                {% csrf_token %} 
                    {% for photo in p.product.product_image.all %}
                        <img src="{{ photo.image.url }}" width="50"><br>
                    {% endfor %}
                    <input type="checkbox" class="product-checkbox" data-real-price="{{p.product.price}}" name="selected_products" data-seller="{{p.product.seller}}"
                     value="{{ p.product.id }}" checked
                    data-product-price="{{  p.product.discounted_price|floatformat:'0' }}" data-half_purchased="{{p.half_purchased}}" data-product-quantity="{{ p.quantity }}">
                    
                    {{ p.product.title }}<br>
                    가격 - {{ p.product.discounted_price|floatformat:"0" }}원
                    <br>
                    {% if p.half_purchased %}
                        주문 수량 - {{ p.quantity|multiply:2|floatformat:"0" }}<br>
                        배송 수량 - {{p.quantity|floatformat:"0" }}<br>
                        반만 배송 상품입니다. 결제 후 마이페이지 내 곳간에서 나머지 수량을 배송받을 수 있습니다.
                    {% else %}
                        수량 - {{p.quantity}}<br>
                    {% endif %}
                <a href="{% url 'basket-delete' p.product.id %}">장바구니 삭제</a><br>
                배송비 - {% if not request.user.low_income %}
                    2500원(따로 설정)
                    {% else %}
                    0원 - 저소득층 지원
                    {%endif%}<br>
                도착 예정일 - {{arrive_day}}{{arrive_day|date:"l"}}(일요일 제외)<br><hr><br>
                <input type="hidden" name="product_title_{{p.product.id}}" value="{{ p.product.title }}">
                <input type="hidden"  name="product_price_{{p.product.id}}" value="{{ p.product.discounted_price }}">
                <input type="hidden" name="product_quantity_{{p.product.id}}" value="{{ p.quantity }}">
                <input type="hidden" name="product_half_purchased_{{p.product.id}}" value="{{ p.half_purchased }}">
                {% empty %}
                없음
                
                
        
                {% endfor %}    
                    <hr />
                    총 결제 금액 : <span id="total"></span><br />
                    상품 할인 :
                    <span id="saved_price">{{saved_price|floatformat:"0"}}</span
                    ><br />
                    쿠폰 할인 : <span id="coupon-discount"></span>원<br />
                    <input type="hidden" id="product_coupon" name="product_coupon" value="0">
                    배송비 : <span id="delivery"></span><br />
                    <input type="hidden" id="product_delivery" name="product_delivery" value="2500">
                    <br />
                    <div class="point_title">쿠폰</div>
                    <div class="coupon">
                        <select name="coupon" id="coupon-select">
                            <option value="0">선택안함</option>
                            <option value="5">5% 할인쿠폰</option>
                            <option value="10">10% 할인쿠폰</option>
                            <option value="20">20% 할인쿠폰</option>
                        </select>

                        <button type="button" id="apply-coupon-button">
                            쿠폰 적용
                        </button>

                    </div>
                    <div class="address">
                        <div class="edit" id="edit_link">수정하기</div>
                        <div class="address_detailed">
                            <div class="addressinfo">받는 분</div>
                            <div class="complete">전화번호</div>
                            <div class="option">주소</div>
                            <div class="wanted">상세 주소</div>
                        </div>
                    </div>
                    <div class="address_btn">
                        <button type="submit" id="address-button">
                            완료하기
                        </button>
                    </div>
                    
                    <div class="option_delivery">
                        <input type="checkbox" id="delivery-checkbox" />이
                        주소를 기본 주소로 사용하기
                    </div>
                    <div class="deliverywanted">
                        <input
                            type="text"
                            name="wanted"
                            id="deliverywanted"
                            placeholder="배송시 요청 사항을 적어주세요."
                        />
                    </div>
                    <div class="order">
                        <button
                            type="submit"
                            id="order-button"
                            data-original-price="{{ total_price|default:0 }}"
                        >
                            주문하기
                        </button>
                    </div>
                </form>
            </div>
        </div></div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function () {
                var finalPrice=0
                var total = 0;
                var couponDiscount = 0; // 쿠폰 할인 가격을 초기화
                var send_total_price = document.getElementById('send_total_price');

                $(document).ready(function () {
                    // 체크박스 선택 여부에 따라 총 주문 가격을 업데이트하는 함수
                    function updateTotalPrice() {
                        total = 0;
                        couponDiscount = 0;
                        var seller_list = [];
                        var only_delivery_price = 0;
                        var saved_price = 0;

                        $(".product-checkbox:checked").each(function () {
                            var add = 0;
                            var price = parseInt($(this).data("product-price"));
                            var quantity = parseInt(
                                $(this).data("product-quantity")
                            );
                            var half_purchased = $(this).data("half_purchased");
                            var seller = $(this).data("seller");
                            var real_price = parseInt(
                                $(this).data("real-price")
                            );
                            
                            //상품 할인 가격 더함 ( 원래 금액 - 할인받은 금액)*수량 
                            

                            //판매자가 같은 경우 배송비 0원 추가 / 판매자가 다르면 배송비 2500원 추가 
                            var flag = true;
                            for (let i = 0; i < seller_list.length; i++) {
                                console.log(seller_list[i], seller, i);
                                if (seller_list[i] == seller) {
                                    add = 0;
                                    flag = false;
                                    break;
                                }
                            }

                            if (flag) {
                                add = 2500;
                                seller_list.push(seller); // 판매자 정보를 배열에 추가
                            }

                            //반만 구매를 했을 경우 총 금액에 더해지는 상품 값은 수량 x 2
                            if (half_purchased === "True") {
                                total += price * quantity * 2;
                                saved_price += (real_price - price) * quantity *2;
                            } else { // 반만 구매 상품이 아닌 경우 원래의 가격 x 수량 
                                total += price * quantity;
                                saved_price += (real_price - price) * quantity;
                            }
                            //총 가격에 배송비 더함 
                            total += add;
                            //총 배송 금액을 구하기 위해 배송비 더함 
                            only_delivery_price += add;
                        
                            //만약 총 구매 가격이 20000원이 넘을 경우 배송비는 0원이어야 함 
                            if (total - only_delivery_price >= 20000) {
                                //이미 배송비를 더한 총 금액에서 배송비를 뺌 -> 배송비를 뺀 총 가격
                                total -= only_delivery_price;
                                //총 배송 가격은 0원으로 설정 
                                only_delivery_price = 0;
                            }
                            
                        });

                     
                        var originalTotal = total;
                        //만약 쿠폰을 선택했다면, 쿠폰으로 할인받은 가격을 뺌 
                        total -= couponDiscount;

                        $("#order-button").text(total + "원 주문하기");
                        $("#delivery").text(only_delivery_price);
                        $("#product_delivery").val(only_delivery_price);


                        
                        console.log(only_delivery_price);
                        $("#saved_price").text(saved_price);

                        // 쿠폰 할인 금액을 다시 계산
                        var selectedCouponValue = parseInt(
                            $("#coupon-select").val()
                        );
                        var couponPrice =
                            (originalTotal * selectedCouponValue) / 100;
                        couponDiscount = couponPrice;

                        //만약 쿠폰을 선택했다면, 쿠폰으로 할인받은 가격을 뺌 
                        finalPrice = originalTotal - couponDiscount;

                        //총 가격 출력
                        $("#total").text(finalPrice + "원");
                        //쿠폰으로 할인받은 금액 출력
                        $("#coupon-discount").text(couponDiscount + "원");
                        
                        
                    }

                    //쿠폰 적용 버튼을 선택했을 경우 
                    $("#apply-coupon-button").on("click", function () {
                        var selectedCouponValue = parseInt(
                            $("#coupon-select").val()
                        );
                        //배송비를 불러옴 
                        var delivery = parseInt($("#delivery").text());

                        //총 금액에서 배송비를 뺀 금액 저장 -> 오로지 상품 값만 가져옴  
                        var originalPrice = total - delivery; // 여기서 total 값을 사용

                        if (selectedCouponValue === 0) {
                            // 선택안함을 눌렀을 때 쿠폰 값을 초기화
                            couponDiscount = 0;
                        } else {
                            // 상품 값에서 쿠폰 값만큼 할인 
                            var couponPrice =
                                (originalPrice * selectedCouponValue) / 100;
                            couponDiscount = couponPrice; // 쿠폰 할인 가격을 저장
                        }

                        //출력
                        finalPrice = total - couponDiscount;

                        //전체 가격
                        $("#total").text(finalPrice + "원");
                        $("total_price").val(finalPrice)
                        $("#order-button").text(finalPrice + "원 주문하기");

                        //쿠폰 할인 가격 출력 
                        $("#coupon-discount").text(couponDiscount + "원"); 
                        $('#product_coupon').val(couponDiscount);
                        
                    });

                    // 체크박스 변경 이벤트를 처리
                    $(".product-checkbox").on("change", function () {
                        updateTotalPrice();
                    });

                    // 초기 로드 시 총 주문 가격 업데이트
                    updateTotalPrice();
                });
            });

        </script>




        <script>
            function deletediv() {
                const div = document.getElementById("number1");

                div.remove();
            }
        </script>
    </body>
</html>