{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static '/css/detail.css' %}" />
    <link rel="stylesheet" href="{% static '/css/font.css'%}" />
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>

    <title>Document</title>
    <style></style>
  </head>
  <body>
    <div id="frame">
      <!-- 상단 나브바 -->
      <nav class="nav_header">
        <div class="logo">
          <img src="{% static '/img/logo/4989_logo_L.png' %}" />
        </div>
        <div class="cart">
          <a href="{% url 'basket' %}">
            <iconify-icon
              icon="mingcute:basket-line"
              style="color: #008d3f"
              width="35"
              height="35"
            ></iconify-icon
          ></a>
        </div>
        <div class="login">{{request.user.username}}</div>
        <div class="signup">
          <a href="{% url 'accounts:signup' %}">회원가입</a>
        </div>
      </nav>
      <!-- 뒤로가기 -->
      <div class="back">
        <iconify-icon
          icon="ion:caret-back-outline"
          style="color: #646464"
          width="30"
          height="30"
        ></iconify-icon>
      </div>

      <!-- 사진 -->
      <div class="detail_photo">
        {% for photo in product.product_image.all %}
        <img src="{{photo.image.url}}" width="50" /><br />
        {% endfor %}
      </div>
      <!-- 상세내용(스크롤필요) -->
      <div id="detail">
        <div class="detail_title">{{ product.title }}</div>
        <ul class="detail_info">
          <li class="price">
            가격 : {{product.price}}원 >
            <span>{{ discount_price|floatformat:"0" }}원</span>
          </li>
          <li class="discount">
            할인률 :{{ product.discount_rate }}%
            <i class="fas fa-caret-down fa-lg" style="color: #ff0000"></i>
          </li>
          <li class="deliver"><span>20,000이상 구매 시 무료배송</span></li>
          <li class="place">생산지 : {{product.origin}}</li>
          <li class="point">재배 특징 :{{product.production_features}}</li>
        </ul>

        <div class="person">
          <div class="profile">
            <img src="{{product.seller.image.url}}" width="50" />
            <div class="name">
              <span>생산자 :</span>{{ product.seller.user.username }}
              <span><br />농장 이름 :</span> 가가나나
            </div>
          </div>
        </div>
      </div>
      <!-- 하트/구매 -->
      <div class="buy_nav">
        <!-- 하트 -->
        <button class="heart" onclick="addLike(), removeLike()">
          <i class="xi-heart-o xi-2x"></i>
        </button>
        {% if product in request.user.like_product.all %}
        <a href="#" class="like-btn" data-product-id="{{ product.id }}"
          >찜 취소</a
        >
        {% else %}
        <a href="#" class="like-btn" data-product-id="{{ product.id }}"
          >찜하기</a
        >
        {% endif %}
        <!-- 하트개수 담김 -->
        <div class="heart_count">
          123
          <span id="like-count">{{product.like_product.count}}</span>
        </div>

        <!-- 구매 -->
        <form action="" method="post" id="main-form">
          <div class="buy">
            {% csrf_token %}
            <button type="button" name="action" value="buy" id="buy-button">
              구매
            </button>
          </div>
        </form>
      </div>

      <!-- 구매모달창 -->
      <form action="" id="buy_modal_form">
        <div id="buy_modal">
          {% comment %} 숨기는버튼 {% endcomment %}
          <div class="hiddenBtn">
            <button type="button" id="hidden">
              <iconify-icon
                icon="mingcute:down-line"
                style="color: black"
                width="30"
                height="30"
              ></iconify-icon>
            </button>
          </div>
          {% comment %} 반만담기, 전체담기 선택 {% endcomment %}
          <div class="add" id="additional-buttons">
            <button type="button" id="half-buy-button" class="half">
              반만담기
            </button>
            <button type="button" id="full-buy-button" class="all">
              전체담기
            </button>
          </div>
          {% comment %} 반만담기 선택하면 나오는 폼 {% endcomment %}
          <form
            action=""
            method="post"
            id="half-purchase-form"
            class="product_info"
          >
            <div class="product_name">{{ product.title }}</div>
            <div class="product_count">
              {% csrf_token %}
              <input
                type="number"
                name="total_quantity"
                min="1"
                required
                placeholder="총 결제할 수량"
              />
            </div>
            <div class="product_price">{{product.price}}원></div>
            <div class="product_price_discount">
              {{ discount_price|floatformat:"0" }}원
            </div>
            <div class="product_leave">잔여수량 <span>30</span> 개</div>
            <div class="notice">
              ※ 단순 변심으로 교환/환불이 불가한 상품입니다.
              <br />※ 이 상품은 반만 배송됩니다.
            </div>

            <div class="buyNow">
              {% comment %} 반만배송 {% endcomment %}
              <button
                type="submit"
                class="cart3"
                name="action"
                value="half_purchase"
                id="half-purchase-button"
              >
                반만배송받기
              </button>
              {% comment %} 장바구니 {% endcomment %}
              <button
                type="submit"
                class="cart4"
                name="action"
                value="half_goto_basket"
                id="basket-button"
              >
                장바구니
              </button>
            </div>
          </form>
          {% comment %} 모두담기 선택하면 나오는 폼 {% endcomment %}
          <form
            action=""
            method="post"
            id="full-purchase-form"
            class="product_info"
          >
            <div class="product_name2">{{ product.title }}</div>
            <div class="product_count2">
              {% csrf_token %}
              <input
                type="number"
                name="quantity"
                min="1"
                required
                placeholder="배송받을 수량"
              />
            </div>
            <div class="product_price2">{{product.price}}원></div>
            <div class="product_price_discount2">
              {{ discount_price|floatformat:"0" }}원
            </div>
            <div class="product_leave2">잔여수량 <span>30</span> 개</div>
            <div class="notice2">
              ※ 단순 변심으로 교환/환불이 불가한 상품입니다.
              <br />※ 이 상품은 전체 배송됩니다.
            </div>
            <div class="buyNow2">
              <button
                type="submit"
                name="action"
                value="purchase"
                id="purchase-direct-button"
                class="cart3"
              >
                바로결제
              </button>
              <button
                type="submit"
                name="action"
                value="goto_basket"
                id="basket-button"
                class="cart4"
              >
                장바구니
              </button>
            </div>
          </form>
        </div>
      </form>

      <!-- 하단 나브바 -->

      <nav class="nav_bottom">
        <div class="logo">
          <a href="{% url 'recommend_promotion:rp' %}">
            <iconify-icon
              icon="mdi:corn"
              style="color: #008d3f"
              width="45"
              height="43"
            ></iconify-icon
          ></a>
        </div>

        <div class="home">
          <iconify-icon
            icon="octicon:home-24"
            style="color: #008d3f"
            width="38"
            height="38"
          ></iconify-icon>
        </div>
        <div class="community">
          <a href="{% url 'community:main' %}">
            <iconify-icon
              icon="clarity:talk-bubbles-line"
              style="color: #008d3f"
              width="38"
              height="38"
            ></iconify-icon
          ></a>
        </div>
      </nav>
    </div>
    <script>
      // 구매모달창
      const btn = document.getElementById("buy-button");
      const closeBtn = document.getElementById("hidden");
      const modal = document.getElementById("buy_modal");

      btn.addEventListener("click", () => {
        modal.style.display = "flex";
        modal.style.animation = "modalSlideIn 0.6s ease-in";

        // 이전에 등록된 animationend 이벤트 리스너를 제거합니다.
        modal.removeEventListener("animationend", modalCloseAnimationEnd);
      });

      closeBtn.addEventListener("click", () => {
        modal.style.animation = "modalSlideOut 0.6s ease-in";

        // animationend 이벤트가 끝날 때 실행되는 함수
        const modalCloseAnimationEnd = () => {
          modal.style.display = "none";
          modal.style.animation = "";

          // animationend 이벤트 리스너를 제거합니다.
          modal.removeEventListener("animationend", modalCloseAnimationEnd);
        };

        // animationend 이벤트 리스너를 등록합니다.
        modal.addEventListener("animationend", modalCloseAnimationEnd);
      });
    </script>
    <script>
      //반만, 전체 담기 form 보이는 창

      const fullBuyButton = document.getElementById("full-buy-button");
      const halfBuyButton = document.getElementById("half-buy-button");
      const fullPurchaseForm = document.getElementById("full-purchase-form");
      const halfPurchaseForm = document.getElementById("half-purchase-form");

      // Show the full purchase form by default
      fullPurchaseForm.style.display = "block";

      fullBuyButton.addEventListener("click", function () {
        fullPurchaseForm.style.display = "block";
        halfPurchaseForm.style.display = "none";
      });

      halfBuyButton.addEventListener("click", function () {
        halfPurchaseForm.style.display = "block";
        fullPurchaseForm.style.display = "none";
      });
    </script>

    <script>
      // 하트누르기!!
      const pushHeartBtn = document.querySelector(".heart");
      let clickCount = 0;
      let count = 123;

      function addLike() {
        clickCount++;
        if (clickCount % 2 === 1) {
          // 홀수 번 클릭 시
          pushHeartBtn.innerHTML = '<i class="xi-heart xi-2x"></i>';
          pushHeartBtn.style.color = "red";
          countPlus();
        } else {
          // 짝수 번 클릭 시
          pushHeartBtn.innerHTML = '<i class="xi-heart-o xi-2x"></i>';
          pushHeartBtn.style.color = "";
          countMinus();
        }
      }

      function countPlus() {
        count = count + 1;
        document.querySelector(".heart_count").innerHTML = count;
      }

      function countMinus() {
        count = count - 1;
        document.querySelector(".heart_count").innerHTML = count;
      }
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function () {
        $("#buy-button").on("click", function () {
          $("#main-form").hide();
          $("#additional-buttons").show();
          $("#additional-form").show();
          $("#half-purchase-form, #full-purchase-form").hide();
        });

        $("#half-buy-button").on("click", function () {
          $("#additional-form").show();
          $("#half-purchase-form").show();
          $("#full-purchase-form").hide();
        });

        $("#full-buy-button").on("click", function () {
          $("#additional-form").show();
          $("#half-purchase-form").hide();
          $("#full-purchase-form").show();
        });

        // 초기에는 추가 폼을 숨겨둠
        $("#additional-form, #half-purchase-form, #full-purchase-form").hide();
      });
    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function () {
        //페이지가 완전히 로드된 후에 실행되는 JavaScript코드 블록 정의
        $(".like-btn").on("click", function (event) {
          // 클래스가 like-btn 인 모든 요소에 대해 클릭 이벤트 처리 -> 좋아요 버튼들에 대한 클릭 이벤트를 처리하도록 함
          event.preventDefault(); // 클릭 이벤트의 기본 동작 취소, 좋아요 버튼 클릭 시 페이지의 이동을 막기 위함
          var productId = $(this).data("product-id"); //클릭한 좋아요 버튼의 data-product-id 속성을 가져와서 productId 변수에 저장
          var likeCountElement = $("#like-count"); // 좋아요 수를 표시하는 HTML 요소(id)를 가져와서 likeCountElement 변수에 저장

          $.ajax({
            // Ajax 요청을 수행하는 코드 블록
            url: "{% url 'add_remove_whishlist' %}", // Ajax 요청의 URL을 "/add_remove_whishlist/"로 설정
            type: "POST",
            data: {
              product_id: productId, // product_id와 csrfmiddlewaretoken을 함께 서버로 전송
              csrfmiddlewaretoken: "{{ csrf_token }}",
            },
            success: function (response) {
              // 좋아요 버튼 상태 업데이트
              if (response.liked) {
                // response 객체의 liked 속성을 확인하여, 좋아요 상태를 업데이트
                $(".like-btn[data-product-id=" + productId + "]").text(
                  "찜 취소"
                );
                likeCountElement.text(parseInt(likeCountElement.text()) + 1);
              } else {
                $(".like-btn[data-product-id=" + productId + "]").text(
                  "찜하기"
                );
                likeCountElement.text(parseInt(likeCountElement.text()) - 1);
              }
            },
            error: function () {
              // Ajax 요청이 실패한 경우 실행되는 함수
              alert("에러가 발생했습니다.");
            },
          });
        });
      });
    </script>
  </body>
</html>
