<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{{request.user.username}}
<a href="{% url 'accounts:signup' %}">회원가입</a><br>
{% if not request.user.is_authenticated %}
<a href="{% url 'accounts:login' %}">로그인</a>
{% else %}
<a href="{% url 'accounts:logout' %}">로그아웃</a>
<a href="{% url 'basket' %}">장바구니</a><BR>
{% endif %}
<a href="{% url 'mypage' %}">마이페이지</a>
{% if request.user.merchant %}
판매자 계정 - <a href="{% url 'upload' %}">상품등록</a>
{% endif %}
<h1>Product List<br></h1>

<button type="button" class="filter-btn" data-type="">전체</button>
<button type="button" class="filter-btn" data-type="과일">과일</button>
<button type="button" class="filter-btn" data-type="채소">채소</button>
<div style="background-color: yellow;">광고 영역입니다</div>

<ul id="product-list">
    가장 찜한 사람 수가 많은 - {{best.title}}<br><br><br>
    {% for product in products %}
    <li data-type="{{ product.type }}">
        <strong>Title:</strong> {{ product.title }}<br>
        <strong>Price:</strong> {{ product.price }}<br>
        <strong>Discount Rate:</strong> {{ product.discount_rate }}<br><br>
        {% for photo in product.product_image.all %}
            <img src="{{photo.image.url}}" width="50"><br>
        {% endfor %}
        <a href="{% url 'detail' product.id %}"><button>상세보기</button></a>
    </li>
    {% endfor %}
</ul>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function filterProducts(type) {
        $('#product-list li').hide();
        if (type === '') {
            $('#product-list li').show();
        } else {
            $('#product-list li[data-type="' + type + '"]').show();
        }
    }

    $('.filter-btn').on('click', function () {
        var productType = $(this).data('type');
        filterProducts(productType);
    });

</script>
</body>
</html>