{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static '/css/index.css' %}" />
    <link rel="stylesheet" href="{% static '/css/font.css'%}" />
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <title>Document</title>
    <style>
      #product_list_all li .infoBox {
        position: absolute;
        width: 150px;
        height: 150px;
        background: rgba(217, 217, 217, 0.65);
        opacity: 0;
      }
      #product_list_all li .infoBox:hover {
        animation: modalSlideIn 0.3s ease-in;
        opacity: 1;
      }
    </style>
  </head>
  <body>
    <div id="frame">
      <!-- 상단 나브바 -->
      <nav class="nav_header">
        <div class="logo">
          <a href="{% url 'accounts:about_us' %}"
            ><img src="{% static '/img/logo/4989_logo_L.png' %}"
          /></a>
        </div>
        <div class="cart">
          <a href="{% url 'basket' %}">
            <iconify-icon
              icon="mingcute:basket-line"
              style="color: #008d3f"
              width="35"
              height="35"
            ></iconify-icon
          ></a>
        </div>

        {% if not request.user.is_authenticated %}
        <div class="login"><a href="{% url 'accounts:login' %}">로그인</a></div>
        {% else %}
        <div class="mypage">
          <a href="{% url 'mypage' %}">{{request.user.username}}</a>
        </div>
        {% endif %}
      </nav>

      <!-- 과일, 채소 -->

      <div class="btn">
        <div class="all">
          <button id="allButton" class="filter-btn" data-type="">전체</button>
        </div>
        <div class="fruit">
          <button id="fruitButton" class="filter-btn" data-type="과일">
            과일
          </button>
        </div>
        <div class="vegi">
          <button id="vegiButton" class="filter-btn" data-type="채소">
            채소
          </button>
        </div>
      </div>
      <!-- 검색 -->
      <form action="" method="post" class="searchBox">
        {% csrf_token %}
        <input type="text" name="search" id="search" />
        <button type="button" name="search" id="searchBtn">검색</button>
      </form>

      <!-- 가장 잘 나가는 상품 -->
      <div class="hot">
        <div><span>오늘의 HOT 상품!</span></div>
        {% for product in products %}
        <div data-type="{{ product.type }}">
          {% for photo in product.product_image.all %}
          <img src="{{photo.image.url}}" />
          {% endfor %}
          <p>"{{best.title}}"</p>
        </div>
        {% endfor %}
      </div>

      <article id="product_list_all">
        <ul id="product-list">
          {% for product in products %}
          <li data-type="{{ product.type }}">
            {% for photo in product.product_image.all %}
            <img src="{{photo.image.url}}" width="150px," height="150px" />
            {% endfor %}
            <div class="infoBox">
              <span>{{ product.title }}</span>
              <p>가격 : {{ product.price }}원</p>
              <div class="discount_rate">
                할인률 : {{ product.discount_rate }} %
              </div>
              <a href="{% url 'detail' product.id %}"
                ><button>상세보기</button></a
              >
            </div>
          </li>
          {% endfor %}
        </ul>
      </article>

      <!-- +버튼 (게시물 등록) -->
      {% if request.user.merchant %}
      <div class="upload">
        <button type="button">
          <a href="{% url 'upload' %}">
            <iconify-icon
              icon="simple-line-icons:plus"
              style="color: rgba(255, 202, 13, 1)"
              width="70"
              height="70"
            ></iconify-icon
          ></a>
        </button>
      </div>
      {% endif %}
      <!-- 광고 배너 -->

      <div class="ad">
        <img src="{% static '/img/임영웅홍보물2.png' %}" alt="" />
      </div>
      <div class="ad_x">
        <button>x</button>
      </div>

      <!-- 하단 나브바 -->

      <nav class="nav_bottom">
        <div class="logo">
          <a href="{% url 'recommend_promotion:rp' %}">
            <iconify-icon
              icon="mdi:corn"
              style="color: #008d3f"
              width="45"
              height="43"
            ></iconify-icon
          ></a>
        </div>

        <div class="home">
          <a href="{% url 'index' %}">
            <iconify-icon
              icon="octicon:home-24"
              style="color: #008d3f"
              width="38"
              height="38"
            ></iconify-icon
          ></a>
        </div>
        <div class="community">
          <a href="{% url 'community:main' %}">
            <iconify-icon
              icon="clarity:talk-bubbles-line"
              style="color: #008d3f"
              width="38"
              height="38"
            ></iconify-icon
          ></a>
        </div>
      </nav>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      function filterProducts(type) {
        $("#product-list li").hide(); // 상품 리스트의 모든 항목을 숨김
        if (type === "") {
          $("#product-list li").show(); // type이 빈 문자열인 경우, 모든 상품 항목을 보여줌
        } else {
          $('#product-list li[data-type="' + type + '"]').show(); // 해당 type에 해당하는 상품 항목만 보여줌
        }
      }

      $(".filter-btn").on("click", function () {
        // 클릭한 버튼의 data-type 속성을 가져옴
        var productType = $(this).data("type");
        filterProducts(productType); // filterProducts 함수를 호출하여 해당 type에 해당하는 상품만 보여줌
      });

      //버튼 색상 변경
      document.addEventListener("DOMContentLoaded", function () {
        const allButton = document.getElementById("allButton");
        const fruitButton = document.getElementById("fruitButton");
        const vegiButton = document.getElementById("vegiButton");

        const productAll = document.getElementById("product_list_all");
        const productFruit = document.getElementById("product_list_fruit");
        const productVegi = document.getElementById("product_list_vegi");

        allButton.addEventListener("click", function () {
          resetButtonColors();
          allButton.classList.add("green");
        });

        fruitButton.addEventListener("click", function () {
          resetButtonColors();
          fruitButton.classList.add("green");
        });

        vegiButton.addEventListener("click", function () {
          resetButtonColors();
          vegiButton.classList.add("green");
        });

        // 초기에 allButton을 클릭한 상태로 설정
        allButton.click();

        function resetButtonColors() {
          allButton.classList.remove("green");
          fruitButton.classList.remove("green");
          vegiButton.classList.remove("green");
        }
      });
      // 광고 배너와 버튼에 대해 이벤트 처리
      document.addEventListener("DOMContentLoaded", function () {
        const adContainers = document.querySelectorAll(".ad, .ad_x button");

        adContainers.forEach(function (element) {
          element.addEventListener("click", function () {
            adContainers.forEach(function (adElement) {
              adElement.style.display = "none";
            });
          });
        });
      });
    </script>
  </body>
</html>
