<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if request.user.merchant %}
    <a href="{% url 'update_user_merchant' %}">판매자 회원 정보 수정</a>
    {% elif request.user.restaurant %}
    <a href="{% url 'update_user_restaurant' %}">음식점 회원 정보 수정</a>
    {% endif %}
    <br>
    <a href="{% url 'accounts:logout' %}">로그아웃</a>
    {% if request.user.merchant %}
    <a href="{% url 'my_product' %}">등록 상품 관리</a><br>
    {% endif %}
    <a href="{% url 'wishlist' %}">내가 찜한 상품</a><br>
    <a href="">주문목록</a><br>
    <a href="">취소 반품 교환</a><br>
    <a href="">구매후기</a><br>
    <a href="{% url 'half_purchased_products' %}">내 곳간 보기</a><br>
    
    
</body>
</html>