<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="{% static '/css/update_user_merchant.css' %}"
        />
        <title>Document</title>
    </head>
    <body>
        <div id="frame">
        <!-- 상단 나브바 -->
      <nav class="nav_header">
        <div class="logo">
          <a href=""><img src="{% static '/img/logo/4989_logo_L.png' %}" /></a>
        </div>
        <div class="cart">
          <a href="{% url 'basket' %}">
            <iconify-icon
              icon="mingcute:basket-line"
              style="color: #008d3f"
              width="35"
              height="35"
            ></iconify-icon
          ></a>
        </div>

        {% if not request.user.is_authenticated %}
        <div class="login"><a href="{% url 'accounts:login' %}">로그인</a></div>
        {% else %}
        <div class="mypage">
          <a href="{% url 'mypage' %}">{{request.user.username}}</a>
        </div>
        {% endif %}
      </nav>

        <main>
            <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
            <div class="main_one">
                <div class="main_pic">
                    <picture
                        >  <p>현재: <img src="{{request.user.merchant.image.url }}" width="50"></p>
                        <p>변경 : <input type="file" name="image"></p></picture>

                    <div class="id">
                        
                            <div class="id_change">
                                <div class="id_box">
                                    <div class="text_id">
                                        <input type="text" name="username" value="{{request.user.username}}">
        판매자님
                                    </div>
                                    <div class="pencil_pic">
                                        <img src="{% static '/img/마이페이지/해커톤_연필.png' %}" />
                                    </div>
                                </div></div
                        >
                    </div>
                </div>
            
        
      
            <div class="main_intro_change">
                <div class="text">한줄소개</div>
                <div class="pencil_pic">
                    <img src="{% static '/img/마이페이지/해커톤_연필.png' %}" />
                </div></div
        >
       <div class="name_change">
                <div class="text">농장 이름 변경 <input type="text" name="farm_name" value="{{request.user.merchant.farm_name}}"></div>
                <div class="pencil_pic">
                    <img src="{% static '/img/마이페이지/해커톤_연필.png' %}" />
                </div></div
        >
        
            <div class="name_change">
                <div class="text">농장 주소 변경 <input type="text" name="farm_adress" value="{{request.user.merchant.farm_adress}}"></div>
                <div class="pencil_pic">
                    <img src="{% static '/img/마이페이지/해커톤_연필.png' %}" />
                </div></div
        >
        <div class="input_submit">
        <input type="submit"  id="input_btn"
        value="수정하기"></div>
    </form>
    </main></div></body>
</html>
