<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="username" value="{{request.user.username}}">
        판매자님<br>
        농장 이름 변경 - <input type="text" name="farm_name" value="{{request.user.merchant.farm_name}}"><br>
        농장 주소 변경 - <input type="text" name="farm_adress" value="{{request.user.merchant.farm_adress}}">
        <p>현재: <img src="{{request.user.merchant.image.url }}" width="50"></p>
        <p>변경 : <input type="file" name="image"></p>

        <input type="submit" value="수정하기">
    
    </form>
</body>
</html>
