<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div id="frame">
            <form
                method="POST"
                action="{% url 'update_upload' product.id %}"
                enctype="multipart/form-data"
            >
                {% csrf_token %} {% if product.type == "과일" %}
                <input type="radio" name="type" value="과일" checked />과일
                <input type="radio" name="type" value="채소" />채소<br />
                {% else %}
                <input type="radio" name="type" value="과일" />과일
                <input
                    type="radio"
                    name="type"
                    value="채소"
                    checked
                />채소<br />
                {% endif %} 상품 이름-<input
                    type="text"
                    name="title"
                    value="{{product.title}}"
                /><br />
                가격-<input
                    type="price"
                    name="price"
                    value="{{product.price}}"
                /><br />
                생산지-<input
                    type="text"
                    name="origin"
                    value="{{product.origin}}"
                /><br />
                재배 특징-<textarea name="feature">
                    
{{product.production_features}}</textarea
                ><br />
                판매수량
                        <input type="number" value="{{product.total_quantity}}" name="total_quantity"
                      /><br>
                      <div class="discount">
                        <label for="price3"
                          ><span>할인률</span
                          ><input type="number" id="price3" name="discount_rate" value={{product.discount_rate}}
                        /></label>
                      </div><br>
                기존 이미지 <br />
                
                
                {% for photo in product.product_image.all %}
                <img src="{{photo.image.url}}" width="50" /><br />
                {% endfor %} 사진 업로드-<input
                    multiple="multiple"
                    type="file"
                    name="imgs"
                /><br />
                <input type="submit" value="상품 수정하기" />
            </form>
        </div>
    </body>
</html>
